@use './custom' as *;
@use './abstract' as *;

@mixin borderDesigns{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@mixin buttonDesigns {
    padding: .50rem .75rem;
    border: none;
    font-weight: 600;
}

@mixin linkDesign {
    color: $primary-color;
    padding: .50rem 1.25rem;
}

@mixin errorMessage {
    padding: .75rem 0;
    background-color: red;
    color: $primary-color;
}