<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/header',{
        Title: "Admin"
      }) %>
</head>
<body>
    <%- include('include/nav') %>
    

    <%- include('include/bootstrapfunctionalities') %>
</body>
</html>