<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('include/header',{
    Title: "View Grades"
  }) %>
</head>
<body>
    <%- include('include/nav') %>

    <div class="mx-auto container-fluid text-center error mt-5">
      <h1 class="display-5 text-center error-header">Something went wrong!</h1>
      <a class="display-6" href="/">return</a>
    </div>
    <%- include('include/bootstrapfunctionalities') %>
</body>
</html>