<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/header',{
        Title: "Signup Success"
      }) %>
</head>
<body>
    <%- include('include/nav') %>
    
   <div class="container mx-auto mt-5 text-center signup-success">

    <h1 class="signup-success__header display-4"> You have Signed Up Successfully</h1>
    
    <h5 class="signup-success__link">Return to <br><a href="/log-in" class="signup-success__link-return">Login Page</a></h5>
   </div>
    <%- include('include/bootstrapfunctionalities') %>
</body>
</html>