<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/header',{
        Title: 'Welcome'
    }) %>

</head>
<body>
    <%- include('include/nav') %>
    
    <h1 class="display-4 text-center mt-5 container welcome-header">
        Welcome!
    </h1>
    <%- include('include/bootstrapfunctionalities') %>
</body>
</html>